<div class="piano-bar" aria-hidden="true" role="img" aria-label="Decorative piano keyboard">
  <div class="keys-row">
    @for (segment of segments; track segment) {
      <div class="keys-segment">
        <div class="keys-row-inner">
          <div class="wk" style="left:0px"></div>
          <div class="wk" style="left:36px"></div>
          <div class="wk" style="left:72px"></div>
          <div class="wk" style="left:108px"></div>
          <div class="wk" style="left:144px"></div>
          <div class="wk" style="left:180px"></div>
          <div class="wk" style="left:216px"></div>
          <div class="wk" style="left:252px"></div>
          <div class="wk" style="left:288px"></div>
          <div class="wk" style="left:324px"></div>
          <div class="bk" style="left:24px"></div>
          <div class="bk" style="left:60px"></div>
          <div class="bk" style="left:132px"></div>
          <div class="bk" style="left:168px"></div>
          <div class="bk" style="left:204px"></div>
          <div class="bk" style="left:276px"></div>
          <div class="bk" style="left:312px"></div>
        </div>
      </div>
    }
  </div>
</div>
